@import "/src/index.scss";

.highlights-section {
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: $zinc;
  @include common-padding;
  .h-body {
    @include screen-max-width;
    max-width: 1600px;
    .h-container {
      margin-bottom: 3rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .h-heading {
        @include section-heading;
      }
    }
    .watch {
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      gap: 2rem;
      .link {
        @include link;
        img {
          margin-left: 0.8rem;
        }
      }
    }
  }
}
