@import "/src/index.scss";

.header {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  .navbar {
    display: flex;
    width: 100%;
    .nav-1 {
      display: flex;
      flex: 1;
      justify-content: center;
      @include respond-to(small) {
        display: none;
      }
      .nav {
        padding-left: 2rem;
        cursor: pointer;
        color: gray;
        transition: all 0.5s ease;
        &:hover {
          color: white;
        }
      }
    }
    .search-bag-container {
      display: flex;
      align-items: baseline;
      gap: 2rem;
      @include respond-to(small) {
        justify-content: end;
        flex: 1;
      }
    }
  }
  .screen-max-width {
    @include screen-max-width;
  }
}
