$breakpoint-xsmall: 36em;
$breakpoint-small: 48em;
$breakpoint-medium: 62em;
$breakpoint-large: 75em;
$breakpoint-xlarge: 88em;
$breakpoint-4k: 160em;


@mixin respond-to($breakpoint, $type: max) {
  @if $type == max {
    @if $breakpoint == xsmall {
      @media (max-width: $breakpoint-xsmall) {
        @content;
      }
    } @else if $breakpoint == small {
      @media (max-width: $breakpoint-small) {
        @content;
      }
    } @else if $breakpoint == medium {
      @media (max-width: $breakpoint-medium) {
        @content;
      }
    } @else if $breakpoint == large {
      @media (max-width: $breakpoint-large) {
        @content;
      }
    } @else if $breakpoint == xlarge {
      @media (max-width: $breakpoint-xlarge) {
        @content;
      }
    }
    
  } @else if $type == min {
    @if $breakpoint == xsmall {
      @media (min-width: $breakpoint-xsmall) {
        @content;
      }
    } @else if $breakpoint == small {
      @media (min-width: $breakpoint-small) {
        @content;
      }
    } @else if $breakpoint == medium {
      @media (min-width: $breakpoint-medium) {
        @content;
      }
    } @else if $breakpoint == large {
      @media (min-width: $breakpoint-large) {
        @content;
      }
    } @else if $breakpoint == xlarge {
      @media (min-width: $breakpoint-xlarge) {
        @content;
      }
    }
  }
}